*.gcda
*.gcno
*.o
/.d/
/rehex

/rehex.exe

/AppDir/
/rehex.AppImage

/res/actual_size16.c
/res/actual_size16.h

/res/ascii16.c
/res/ascii16.h
/res/ascii24.c
/res/ascii24.h
/res/ascii32.c
/res/ascii32.h
/res/ascii48.c
/res/ascii48.h

/res/diff_fold16.c
/res/diff_fold16.h
/res/diff_fold24.c
/res/diff_fold24.h
/res/diff_fold32.c
/res/diff_fold32.h
/res/diff_fold48.c
/res/diff_fold48.h

/res/document_new32.c
/res/document_new32.h

/res/document_open32.c
/res/document_open32.h

/res/document_save32.c
/res/document_save32.h

/res/document_save_as32.c
/res/document_save_as32.h

/res/fit_to_screen16.c
/res/fit_to_screen16.h

/res/icon16.c
/res/icon16.h
/res/icon32.c
/res/icon32.h
/res/icon48.c
/res/icon48.h
/res/icon64.c
/res/icon64.h
/res/icon128.c
/res/icon128.h

/res/license.done
/res/license.c
/res/license.h

/res/offsets16.c
/res/offsets16.h
/res/offsets24.c
/res/offsets24.h
/res/offsets32.c
/res/offsets32.h
/res/offsets48.c
/res/offsets48.h

/res/spinner24.c
/res/spinner24.h

/res/swap_horiz16.c
/res/swap_horiz16.h

/res/swap_vert16.c
/res/swap_vert16.h

/res/zoom_in16.c
/res/zoom_in16.h

/res/zoom_out16.c
/res/zoom_out16.h

/src/lua-bindings/.done
/src/lua-bindings/rehex_bind.cpp
/src/lua-bindings/rehex_bind.h
/src/lua-bindings/rehex_datatypes.lua
/src/lua-plugin-preload.done
/src/lua-plugin-preload.c
/src/lua-plugin-preload.h

/tests/.tmpfile*
/tests/all-tests
/tests/all-tests.exe
/tests/document.t
/tools/embed
/tools/embed.exe
/tools/gtk-config
/tools/gtk-config.exe
msvc/.vs/
msvc/Debug/
msvc/embed/Debug/
res/version_msvc.h
msvc/x64/
msvc/embed/x64/
msvc/all-tests/x64/
msvc/all-tests-appcode/x64/
msvc/all-tests/tests/
msvc/resources/x64/
vcpkg/vcpkg

/wxLua/bindings/.done
/wxLua/bindings/wxlua/wxlua_datatypes.lua
/wxLua/bindings/wxwidgets/wx_datatypes.lua
/wxLua/bindings/wxwidgets/wxadv_datatypes.lua
/wxLua/bindings/wxwidgets/wxaui_datatypes.lua
/wxLua/bindings/wxwidgets/wxbase_datatypes.lua
/wxLua/bindings/wxwidgets/wxcore_datatypes.lua
/wxLua/bindings/wxwidgets/wxgl_datatypes.lua
/wxLua/bindings/wxwidgets/wxhtml_datatypes.lua
/wxLua/bindings/wxwidgets/wxmedia_datatypes.lua
/wxLua/bindings/wxwidgets/wxnet_datatypes.lua
/wxLua/bindings/wxwidgets/wxpropgrid_datatypes.lua
/wxLua/bindings/wxwidgets/wxrichtext_datatypes.lua
/wxLua/bindings/wxwidgets/wxstc_datatypes.lua
/wxLua/bindings/wxwidgets/wxwebview_datatypes.lua
/wxLua/bindings/wxwidgets/wxxml_datatypes.lua
/wxLua/bindings/wxwidgets/wxxrc_datatypes.lua
/wxLua/modules/wxbind/include/wxadv_bind.h
/wxLua/modules/wxbind/include/wxaui_bind.h
/wxLua/modules/wxbind/include/wxbase_bind.h
/wxLua/modules/wxbind/include/wxcore_bind.h
/wxLua/modules/wxbind/include/wxgl_bind.h
/wxLua/modules/wxbind/include/wxhtml_bind.h
/wxLua/modules/wxbind/include/wxmedia_bind.h
/wxLua/modules/wxbind/include/wxnet_bind.h
/wxLua/modules/wxbind/include/wxpropgrid_bind.h
/wxLua/modules/wxbind/include/wxrichtext_bind.h
/wxLua/modules/wxbind/include/wxstc_bind.h
/wxLua/modules/wxbind/include/wxwebview_bind.h
/wxLua/modules/wxbind/include/wxxml_bind.h
/wxLua/modules/wxbind/include/wxxrc_bind.h
/wxLua/modules/wxbind/src/wxadv_bind.cpp
/wxLua/modules/wxbind/src/wxaui_bind.cpp
/wxLua/modules/wxbind/src/wxbase_base.cpp
/wxLua/modules/wxbind/src/wxbase_bind.cpp
/wxLua/modules/wxbind/src/wxbase_config.cpp
/wxLua/modules/wxbind/src/wxbase_data.cpp
/wxLua/modules/wxbind/src/wxbase_datetime.cpp
/wxLua/modules/wxbind/src/wxbase_file.cpp
/wxLua/modules/wxbind/src/wxcore_appframe.cpp
/wxLua/modules/wxbind/src/wxcore_bind.cpp
/wxLua/modules/wxbind/src/wxcore_clipdrag.cpp
/wxLua/modules/wxbind/src/wxcore_controls.cpp
/wxLua/modules/wxbind/src/wxcore_core.cpp
/wxLua/modules/wxbind/src/wxcore_defsutils.cpp
/wxLua/modules/wxbind/src/wxcore_dialogs.cpp
/wxLua/modules/wxbind/src/wxcore_event.cpp
/wxLua/modules/wxbind/src/wxcore_gdi.cpp
/wxLua/modules/wxbind/src/wxcore_geometry.cpp
/wxLua/modules/wxbind/src/wxcore_graphics.cpp
/wxLua/modules/wxbind/src/wxcore_help.cpp
/wxLua/modules/wxbind/src/wxcore_image.cpp
/wxLua/modules/wxbind/src/wxcore_mdi.cpp
/wxLua/modules/wxbind/src/wxcore_menutool.cpp
/wxLua/modules/wxbind/src/wxcore_picker.cpp
/wxLua/modules/wxbind/src/wxcore_print.cpp
/wxLua/modules/wxbind/src/wxcore_sizer.cpp
/wxLua/modules/wxbind/src/wxcore_windows.cpp
/wxLua/modules/wxbind/src/wxgl_bind.cpp
/wxLua/modules/wxbind/src/wxhtml_bind.cpp
/wxLua/modules/wxbind/src/wxmedia_bind.cpp
/wxLua/modules/wxbind/src/wxnet_bind.cpp
/wxLua/modules/wxbind/src/wxpropgrid_bind.cpp
/wxLua/modules/wxbind/src/wxrichtext_bind.cpp
/wxLua/modules/wxbind/src/wxstc_bind.cpp
/wxLua/modules/wxbind/src/wxwebview_bind.cpp
/wxLua/modules/wxbind/src/wxxml_bind.cpp
/wxLua/modules/wxbind/src/wxxrc_bind.cpp
/wxLua/modules/wxlua/wxlua_bind.cpp
/wxLua/modules/wxlua/wxlua_bind.h
