[Desktop Entry]
Type=Application
Name=Reverse Engineers' Hex Editor
GenericName=Hex Editor
Keywords=rehex
Icon=rehex
Exec=rehex %F
Terminal=false
Categories=Utility;
StartupWMClass=rehex
