/* Stop libc++ headers upsetting the preprocessor used by RC. */
#ifndef _MSC_VER
#define _MSC_VER 1926
#define __clang_vadefs_h
#endif

#include <winuser.h>

#include "winres.h"

REHEX_MANIFEST  RT_MANIFEST  "rehex.exe.manifest"
REHEX_ICON      ICON         "icon.ico"
