<ul>
	[% FOREACH page IN contents %]
	<li><object type="text/sitemap">
		<param name="Name" value="[% page.title | html %]">
		[% IF page.page != '-' %]<param name="Local" value="[% page.page | html %].htm">[% END %]
		</object>
		
		[% IF !page.children.empty; INCLUDE hhc.tt contents = page.children; END %]
	</li>
	[% END %]
</ul>
